{% extends 'base.html.twig' %}

{% block title %}Ecran SISTER
{% endblock %}

{% block body %}
	{% include 'header/navbar.html.twig' %}


	<div class="container h-auto w-auto" style="background: #ffffff; box-shadow: 60px -30px teal;">
		<div class=" d-flex bg-light p-4 rounded " style="width: auto;height: 550px;">
			<div class="bg-light mr-5 mt-5 mr-4" id="" style=" position: absolute;width: 400px;height: 450px;">
				loren
			</div>
			<div class="ml-5" style="width: 600px; height: 450px;">
				<div class="bg-danger ml-5 pl-5" style="width: 500px; height: 450px;">
					2
				</div>

			</div>
			<div class="" style=" width: 600px; height: 300px;">
				<div class="bg-danger mt-5 ml-5" style="width: 300px; height: 400px;">
					2
				</div>
			</div>
		</div>
	</div>
	<div class="m-5">
		<div class="row shadow-lg p-3 mb-5 bg-dark rounded" style="">
			<div class="col-2 bg-info">
				1
			</div>
			<div class="col-3 bg-primary" style=" position: relative;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								    width: 400px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								    height: auto;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								    margin: 10px;z-index: 1;">
				2
			</div>
			<div class="col-3 bg-light" style=" z-index: 2;">3</div>
		</div>

	</div>

</div></div>{% include 'header/footer.html.twig' %}{% endblock %}
